.App {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: lightgray;
}

.App .App-header {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}

.App .App-footer {
  padding: 20px 0;
}

.App .App-footer a {
  color: black;
  text-decoration: none;
}

.App .App-footer a:hover {
  color: white;
}

.App .App-footer .footer-logos {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 400px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
}