.Dictionary {
    background-color: black;
    color: white;
    padding: 30px;
}

.Dictionary h1 {
    font-weight: bold;
}

.Dictionary h2 {
    padding-bottom: 20px;
}

.Dictionary .submit {
    display: block;
    margin: 20px auto;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: lightgray;
    font-weight: bold;
}

.Dictionary .submit:hover {
    background-color: white;
    border: 1px solid lightgray;
}